.THIS{
    margin-right:0em;
     margin-left:0em;
}
.THIS.custom-background {
    background-color: white;
margin-right:0em;
     margin-left:0em;   
    	
}
.THIS .field{
  padding: 4px;
  border: 1px solid #ffffff;
  border-radius: 2px;
    height:20px;
}
.THIS .fontsize{
    font-size: 10px;
}

.THIS .button-clone-width{
    width: 225px;
    margin-left: 0px;
}

.THIS .margin-top{
    margin-top: 1.8em;
}

.THIS .buttons-clone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: -webkit-center;
}

.THIS .text-clone{
    text-align: initial;
}