<apex:page sidebar="false" showHeader="false" standardController="Case" lightningStylesheets="true" standardStylesheets="false"  applyBodyTag="false" applyHtmlTag="false" docType="html-5.0">
  
  <html>
    <head>
       <title>Retipificación de Caso</title>    
    </head>
    <body>
      <apex:includeLightning />
      <div id="RetypificationCase"></div>
      
      <script>
         
          var urlPage = window.location.href;
          var url = new URL(urlPage);
          var recordId = null;
          var idCase = url.searchParams.get("Id");
        
          if(idCase != null && idCase != '')
              recordId = idCase
          else      
              recordId= "{!Case.Id}";
          var recType = "{!Case.RecordType.DeveloperName}";
          $Lightning.use("c:CS_CASE_RETYPIFICATION_LIGHTNING_APP", function()
          {
              var attributes = { recordId : recordId, recType:recType };
              $Lightning.createComponent("c:CS_CASE_RETYPIFICATION_LIGHTNING_COMPONENT", attributes, "RetypificationCase", function(cmp) {});
          });
        
      </script>
        
    </body>
  </html> 
</apex:page>