<apex:page standardController="Case" >
    <apex:includeLightning />
    <div id="CsCoolerCase"></div>
    <script>
    var recordId = "{!Case.Id}";
    var caseStatus = "{!Case.Status}";
    var caseSent = "{!Case.CS_Send_To_Mule__c}";
    var caseCoolerSKU = "{!Case.CS_skuProduct__c}"; //SM
    $Lightning.use("c:CS_CASE_COOLER_APP", function()
                   {
                       var attributes = { recordId : recordId, caseStatus : caseStatus, caseSent : caseSent, caseCoolerSKU : caseCoolerSKU};
                       $Lightning.createComponent("c:CS_CASE_COOLER_LIGHTNING_COMPONENT", attributes, "CsCoolerCase", function(cmp) {});
                   }
                  );
    </script>  
</apex:page>