<apex:page standardController="ONTAP__Tour_Visit__c" extensions="ISSM_AuthorizationToken_ctr" showHeader="false" sidebar="false" tabStyle="ONTAP__AuthorizationToken__c">
    <html>
        <head>
            <meta charset="utf-8"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        </head>
        <body>
            <script type="text/javascript">
                function generateToken() {
                    var strSapCustomerIdJS = "{!strSapCustomerID}";
                    var strRouteJS = "{!strRoute}";
                    console.log('*** strSapCustomerIdJS: '+strSapCustomerIdJS);
                    console.log('*** strRouteJS: '+strRouteJS);
                    var encryptedMd5 = CryptoJS.MD5(strSapCustomerIdJS + strRouteJS);
                    console.log('*** encryptedMd5: '+encryptedMd5);
                    var str = encryptedMd5.toString();
                    var n = str.length;
                    var i = n-6;
                    console.log('*** n: '+n);
                    console.log('*** i: '+i);
                    var res = str.substring(i, n);
                    console.log('*** res: '+res);
                    document.getElementById("token").innerHTML = res;
                    
                }
            </script>
            <apex:form >
                <!--  {!strSapCustomerID}-{!strRoute}-->
                <apex:pageBlock rendered="{!IF(strSapCustomerID != '' &&  strRoute != '',true,false) }">
                    <apex:pageBlockSection title="{!$Label.ISSM_TATitllePBS}" columns="2" collapsible="false" >
                        <apex:outputtext id="SapCus" style="font-size: 12px; font-weight:bold " value="{!$Label.ISSM_TASAPCusId} {!strSapCustomerID}" />
                        <apex:outputtext id="Route" style="font-size: 12px; font-weight:bold" value="{!$Label.ISSM_TASTourId} {!strRoute}" />
                        <apex:commandButton value="{!$Label.ISSM_TAGenerateTokenButton}" id="generateTokenButton" oncomplete="generateToken();"/>
                    </apex:pageBlockSection>
                    <apex:pageBlockSection title="{!$Label.ISSM_TAToken}" columns="1" collapsible="false">
                        <span id="token" style="font-size: 12px; font-weight:bold"></span>
                    </apex:pageBlockSection>
                </apex:pageBlock> 
                <apex:pageBlock rendered="{!IF(strSapCustomerID == '' &&  strRoute == '',true,false)}">
                    <apex:pageBlockSection title="{!$Label.ISSM_TATitllePBS}" columns="3" collapsible="false" >
                        <apex:outputtext id="SapCus" style="font-size: 12px; font-weight:bold " value="{!$Label.ISSM_TAErrorMessage}" />
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </apex:form>
        </body>
    </html>
</apex:page>