.THIS .badge-primary {
    color: #fff;
    background-color: #007bff;
}
.THIS .badge-success {
    color: #fff;
    background-color: #28a745;
}
.THIS .badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.THIS .badge-warning {
    color: #fff;
    background-color: #ffc107;
}
.THIS .badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.THIS .badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.THIS .badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: .9rem !important;
}
.THIS .badge {
    padding:.5em;
    margin:.8em;
    font-size:.8em;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}